* {
  margin: 0;
  /* padding: 0; */
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'lato', sans-serif;
}

a {
  color: #5a8ca7;
}

header {
  background-image:url("../images/bastille.jpg");
  min-height: 20rem;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center -50vh;
  background-size: cover;
  background-attachment:fixed;
}

h1 {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 4rem;
  text-transform: uppercase;
}

h1 a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

h3 {
  font-family: 'lato', sans-serif;
  font-size: 1.5rem;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 1.75rem
  }
}

#header-title-container {
  width: 100%;
  padding-top: 0.5rem;
  color: white;
  height: 6rem;
  /* background: rgba(60, 0, 0, 0.35); */
  /* background: rgba(21, 4, 60, 0.35); */
  background: rgb(0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  height: 6rem;
  width: 100%;
  background: rgba(0,0,0,1);
  position: fixed;
}

#navbar h1 {
  width: 100%;
  color: white;
  /* background: rgb(0,0,0); */
  text-align: center;
}

.nav {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav div {
  border-bottom-width: 1.5px;
  border-style: solid;
}

.page-body-container {
  width: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.episode-cards-container {
  width: 100%;
}

.episode-card {
  min-height: 10rem;
  padding: 1rem;
  margin-top: 2rem;
}

.ep-card-date {
  color: #b63b50;
  text-transform:uppercase;
  font-size: 0.8rem;
  font-weight:bold;
  margin-top: 0.5rem;
}

.episode-card-description {
  margin-top: 1rem;
}

.ep-card-link-duration-container {
  margin-top: 1.5rem;
}

@media only screen and (min-width: 700px) {
  .page-body-container {
    padding: 5rem;
    width: calc(100% - 10rem);
  }
}

.bibliography-container {
  line-height: 200%;
}

.bibliography-container p {
  font-size: 1.25rem;
  margin-top: 1rem;
}
