* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'roboto', sans-serif;
}

header {
  height: 17.5rem;
  max-height: 20vw;
  min-height: 10rem;
  background-image:url("../images/Lenin Isaak Brodsky.jpg");
  /* background-image:url("resources/images/bastille.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

h1 {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 10vw;
  text-transform: uppercase;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
}

#header-cover-container {
  width: 100%;
  height: 100%;
  background: rgba(60, 0, 0, 0.35);
  /* background: rgba(21, 4, 60, 0.35); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sub-header-container {
  width: 80%;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 7rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 1rem;
  }
}

.page-body-container {
  width: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.episode-cards-containerc{
  width: 100%;
}

.episode-card {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 0.5rem;
}

@media only screen and (min-width: 700px) {
  .page-body-container {
    padding: 5rem;
    width: calc(100% - 10rem);
  }
}
